@model ChoseUs

@{
    ViewData["Title"] = "Detail";
}


<div class="container my-5">
    <h1>Chose Us Detail</h1>

    <div class="slider-content">
        <img class="img-fluid" src="~/assets/image/about//@Model.Image" />
    </div>

    <div class="form-group">
        <label class="my-2">Title</label>
        <input class="form-control" disabled id="customFile" asp-for="Name" />
    </div>

    <div class="form-group">
        <label class="my-2">Description</label>
        <textarea class="form-control" asp-for="Description" rows="5"></textarea>

    </div>




    <a class="btn btn-info mt-3" asp-action="Index">Back</a>
</div>

