@model RegisterVM

@{
    ViewData["Title"] = "Register";
}

@section Style{

  <link rel="stylesheet" href="~/assets/scss/Register/register.css">
}


<div class="register-page"><span>Create Account</span></div>
<div class="home-register">
    <a asp-controller="home" asp-action="index"><span>Home</span></a><span>
        / Create Account
    </span>
</div>



<main>
    <div class="wrapper mt-5">

        <div class="title">
            Register
        </div>
         <div class="text-danger" asp-validation-summary="All"></div>
        <form method="post" asp-action="Register">


            <div class="field">
                <input type="text" asp-for="FirstName" required>
                <label>First Name</label>
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>

            <div class="field">
                <input type="text" asp-for="LastName" required>
                <label>Last Name</label>
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>

            <div class="field">
                <input type="text" asp-for="Username" required>
                <label>User Name</label>
                <span class="text-danger" asp-validation-for="Username"></span>
            </div>


            <div class="field">
                <input type="email" asp-for="Email" required>
                <label>Email</label>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>


            <div class="field">
                <input type="password"asp-for="Password" required>
                <label>Password</label>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>


            <div class="field">
                <input type="password"asp-for="ConfirmPassword" required>
                <label>Confirm Password</label>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>



            <div class="field">
                <input type="submit" value="Create">
            </div>

        </form>
    </div>

</main>


@section Scripts{

     <script src="~/assets/js/Register/register.js"></script>
}

