
@{
    ViewData["Title"] = "About";
}


@section Style{

    <link rel="stylesheet" href="~/assets/scss/About/About.css">
}




<div class="about-page"><span>About</span></div>
<div class="home-about">
    <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/Home.html"><span>Home</span></a><span>
        / About
    </span>
</div>

<main>
    <section id="image">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main-img">
                        <div class="img">
                            <img class="" src="~/assets/image/About/about.webp" alt="">
                        </div>



                        <div class="payne-title">
                            <span>Welcome To Payne!</span>

                        </div>


                        <div class="payne-text">
                            <p class="text-center">
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                consequat,
                                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
                                dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
                                nulla
                                facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                                doming id quod mazim placerat facer possim assum. Typi non habent claritatem
                                insitam,
                                est usus legentis in iis qui facit eorum claritatem.

                                “There are many variations of passages of Lorem Ipsum available, but the majority
                                have
                                suffered alteration in some form.”
                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section id="choose-us">
        <div class="container">
            <div>
                <div class="choose-title">
                    <span>Why Chose Us?</span>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="truck-free">
                            <img src="~/assets/image/About/free_shipping.webp" alt="">
                        </div>

                        <div class="title">
                            <span>Free Shipping</span>
                        </div>

                        <div class="description">
                            <span class="text-center">
                                Erat metus sodales eget dolor consectetuer, porta ut purus at et alias, nulla ornare velit amet enim
                            </span>
                        </div>


                    </div>


                    <div class="col-4">
                        <div class="truck-free">
                            <img src="~/assets/image/About/money_back.webp" alt="">
                        </div>

                        <div class="title">
                            <span>100% Money Back Guarantee</span>


                        </div>

                        <div class="description">
                            <span class="text-center">
                                Erat metus sodales eget dolor consectetuer, porta ut purus at et alias, nulla ornare velit amet enim
                            </span>
                        </div>


                    </div>



                    <div class="col-4">
                        <div class="truck-free">
                            <img src="~/assets/image/About/support.png" alt="">
                        </div>

                        <div class="title">
                            <span>Online Support 24/7</span>

                        </div>


                        <div class="description">
                            <span class="text-center">
                                Erat metus sodales eget dolor consectetuer, porta ut purus at et alias, nulla ornare velit amet enim
                            </span>
                        </div>


                    </div>


                </div>

            </div>

        </div>


    </section>

    <section id="about-gallery">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="gallery">
                        <img src="~/assets/image/About/1.jpg" alt="">
                    </div>

                    <div class="gallery-title">
                        <span>What Do We Do?</span>
                    </div>

                    <div class="gallery-description">
                        <p class="text-center">
                            Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                        </p>
                    </div>

                </div>



                <div class="col-4">
                    <div class="gallery">
                        <img src="~/assets/image/About/2.jpg" alt="">
                    </div>

                    <div class="gallery-title">
                        <span>What Do We Do?</span>
                    </div>

                    <div class="gallery-description">
                        <p class="text-center">
                            Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                        </p>
                    </div>

                </div>




                <div class="col-4">
                    <div class="gallery">
                        <img src="~/assets/image/About/3.jpg" alt="">
                    </div>

                    <div class="gallery-title">
                        <span>What Do We Do?</span>
                    </div>

                    <div class="gallery-description">
                        <p class="text-center">
                            Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                        </p>
                    </div>

                </div>

            </div>

        </div>
    </section>
</main>



@section Scripts{

    <script src="./assets/js/About/about.js"></script>
}

