
@{
    ViewData["Title"] = "Detail";
}

@section Style{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/scss/ProductDetail/productDetail.css">
}

<div class="product-detail"><span>Minaudière</span></div>
<div class="home-productDetail">
    <a asp-controller="home" asp-action="index"><span>Home</span></a><span>
        / Minaudière
    </span>
</div>


<main>

    <section id="product-detail">
        <div class="container">
            <div class="row">

                <div class="col-6 d-flex">

                    <div class="main-wrapper">
                        <div class="container">
                            <div class="product-div">
                                <div class="product-div-left">
                                    <div class="img-container">
                                        <img src="~/assets/image/ProductDetail/10_daed5f76-755e-4d9d-ac19-5afea83e4fdb_large.webp"
                                             alt="watch">
                                    </div>
                                    <div class="hover-container">
                                        <div>
                                            <img src="~/assets/image/Shop/2_64113cf2-2260-4f19-a944-e02116490462_large.webp">
                                        </div>
                                        <div>
                                            <img src="~/assets/image/ProductDetail/11_f4cb4dcb-d836-4b76-ab90-530334793faf_large.webp">
                                        </div>

                                        <div>
                                            <img src="~/assets/image/ProductDetail/3_1fc1f156-6765-412e-a78c-b5be5a7957cd_large.webp">
                                        </div>
                                        <div>
                                            <img src="~/assets/image/ProductDetail/1_a3b6147a-3c67-471d-a4c8-76954ffa5e78_large.webp">
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>





                <div class="col-6">
                    <div class="product-name mt-5">
                        <span>Minaudière</span>

                    </div>

                    <div class="quantity">
                        <span>SKU: 1411</span>

                    </div>



                    <div class="product-desc">
                        <p>
                            He wants to buy good cantadia. it is waterproof, it can be used in any season. Nemetia,
                            father, don't make this mistake. I wrote it here in the warehouse, this is what I have.
                            It's a lie, father, the whole amount, come earn, buy, halal, I will give a low price. I
                            have been talking to you on an empty stomach for three hours, I have been praising you
                            from the bottom of your head. Come, come, my sacrifice, if you see the good in you,
                            come, don't miss this chance.Lorem impus dakance kacayev lorem ipsum cyani perfect.
                            Discount price
                        </p>
                    </div>

                    <div class="product-price">
                        <span>
                            $220.00
                        </span>

                    </div>


                    <div class="rating">
                        <a href=""> <i class="fa-solid fa-star"></i></a>
                        <a href=""> <i class="fa-solid fa-star"></i></a>
                        <a href=""> <i class="fa-solid fa-star"></i></a>
                        <a href=""> <i class="fa-solid fa-star"></i></a>
                        <a href=""> <i class="fa-solid fa-star"></i></a>

                    </div>



                    <div class="product-quantity d-flex">





                        <div class="button">
                            <button class="btn btn-primary" type="submit">ADD TO CART</button>
                        </div>

                    </div>


                    <div class="wishlist-button">
                        <button class="btn btn-primary" type="submit">ADD TO WISHLIST</button>
                    </div>

                    <div class="d-flex category-area">


                        <div class="product-category mt-5">
                            <span>Category:</span>

                        </div>

                        <div class="mt-5">
                            <p>
                                <span>
                                    <a href="">
                                        New Arrivals,
                                    </a>

                                    <a href="">
                                        Popular Products,
                                    </a>


                                    <a href="">
                                        Top Sales
                                    </a>

                                </span>
                            </p>
                        </div>

                    </div>



                    <div class="tags-area d-flex">
                        <div class="product-tag">
                            <span>Tags:</span>

                        </div>

                        <div class="">
                            <p>
                                <span>
                                    <a href="">
                                        l,
                                    </a>

                                    <a href="">
                                        m,
                                    </a>


                                    <a href="">
                                        s
                                    </a>
                                </span>
                            </p>
                        </div>

                    </div>


                    <div class="payment-options">
                        <span>Guaranteed safe checkout</span>

                        <div class="payment-methods">
                            <img src="~/assets/image/ProductDetail/amazon-92e856f82cae5a564cd0f70457f11af4d58fa037cf6e5ab7adf76f6fd3b9cafe.svg"
                                 alt="">
                            <img src="~/assets/image/ProductDetail/apple_pay-f6db0077dc7c325b436ecbdcf254239100b35b70b1663bc7523d7c424901fa09.svg"
                                 alt="">
                            <img src="~/assets/image/ProductDetail/bitcoin-e41278677541fc32b8d2e7fa41e61aaab2935151a6048a1d8d341162f5b93a0a.svg"
                                 alt="">
                            <img src="~/assets/image/ProductDetail/google_pay-c66a29c63facf2053bf69352982c958e9675cabea4f2f7ccec08d169d1856b31.svg"
                                 alt="">
                            <img src="~/assets/image/ProductDetail/paypal-49e4c1e03244b6d2de0d270ca0d22dd15da6e92cc7266e93eb43762df5aa355d.svg"
                                 alt="">
                            <img src="~/assets/image/ProductDetail/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg"
                                 alt="">
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>

    <section id="tabmenu-area">
        <div class="container">
            <div class="tab-menu mt-5">
                <ul class="nav nav-pills mb-3 menu-area" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">
                            Description
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">
                            Comments
                        </button>
                    </li>

                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active dec-text" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab" tabindex="0">
                        We've put together a comprehensive list of 100
                        customizable text message templates that cover a wide range of business scenarios, including
                        appointment reminders, customer follow-ups, sales promotions, and much more. Whether you're
                        a small business owner, a sales professional, or a marketer, you'll find a template that
                        suits your needs and helps you communicate more effectively with your clients and team. In
                        today's fast-paced world, text messaging has become an essential means of communication,
                        especially in the world of business. It's quick, efficient, and convenient for both the
                        sender and the receiver. However, crafting the perfect business text message can be a
                        challenging task, especially if you're unsure of what to say or how to say it.
                    </div>
                    <div class="tab-pane fade mt-5 reviews" id="pills-profile" role="tabpanel"
                         aria-labelledby="pills-profile-tab" tabindex="0">
                        1 Comments

                        <div class="bottom-line">
                        </div>


                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                      style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Add a comment</label>
                        </div>


                        <div class="user-name">
                            <span>Tom</span>

                        </div>


                        <div class="user-comment">
                            <span>Where are these products produced? </span>

                        </div>
                    </div>



                </div>




            </div>

        </div>
    </section>


    <section id="related-products">
        <div class="container">
            <div class="row">

                <div class="product-title mt-5">
                    <span>Related Product</span>

                </div>

                <div class="swiper">
                    <div class="swiper-wrapper">

                        <div class="col-4 cart-product">

                            <div class="product-carusel">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html">
                                    <img src="~/assets/image/Shop/10_daed5f76-755e-4d9d-ac19-5afea83e4fdb_large.webp">
                                </a>

                                <div class="icons">
                                    <button type="button">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>
                                    <button type="button">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </div>

                            </div>
                            <div class="item-detail">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html"
                                   class="item-name">Gladstone Bag</a>
                                <div class="item-price">
                                    <span class="new-price">$260.00</span>
                                    <span class="old-price">$285.60</span>
                                </div>
                            
                            </div>

                        </div>


                        <div class="col-4 cart-product">

                            <div class="product-carusel">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html">
                                    <img src="~/assets/image/Shop/11_f4cb4dcb-d836-4b76-ab90-530334793faf_large.webp">
                                </a>

                                <div class="icons">
                                    <button type="button">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>
                                    <button type="button">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </div>

                            </div>
                            <div class="item-detail">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html"
                                   class="item-name">Kiss Lock Clutch</a>
                                <div class="item-price">
                                    <span class="new-price">$220.00</span>
                                    <span class="old-price">$245.60</span>
                                </div>
                              
                            </div>

                        </div>


                        <div class="col-4 cart-product">

                            <div class="product-carusel">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html">
                                    <img src="~/assets/image/Shop/1_a3b6147a-3c67-471d-a4c8-76954ffa5e78_large.webp">
                                </a>

                                <div class="icons">
                                    <button type="button">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>
                                    <button type="button">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </div>

                            </div>
                            <div class="item-detail">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html"
                                   class="item-name">Hiking Backpack</a>
                                <div class="item-price">
                                    <span class="new-price">$260.00</span>
                                    <span class="old-price">$265.60</span>
                                </div>
                              
                            </div>

                        </div>



                        <div class="col-4 cart-product">
                            <div class="product-carusel">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html">
                                    <img src="~/assets/image/ProductDetail/2_64113cf2-2260-4f19-a944-e02116490462_large.webp"
                                         alt="">
                                </a>
                                <div class="icons">
                                    <button type="button">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>
                                    <button type="button">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </div>
                            </div>



                            <div class="item-detail">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html"
                                   class="item-name">Boston Bag</a>
                                <div class="item-price">
                                    <span class="new-price">$220.00</span>
                                    <span class="old-price">$275.60</span>
                                </div>

                            
                            </div>

                        </div>


                        <div class="col-4 cart-product">

                            <div class="product-carusel">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html">
                                    <img src="~/assets/image/Shop/3_1fc1f156-6765-412e-a78c-b5be5a7957cd_large.webp">
                                </a>

                                <div class="icons">
                                    <button type="button">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>
                                    <button type="button">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </div>

                            </div>
                            <div class="item-detail">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html"
                                   class="item-name">Hat Box</a>
                                <div class="item-price">
                                    <span class="new-price">$60.00</span>
                                    <span class="old-price">$85.60</span>
                                </div>
                           
                            </div>

                        </div>



                        <div class="col-4 cart-product">

                            <div class="product-carusel">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html">
                                    <img src="~/assets/image/Shop/4_5f4e6ffb-67e5-4530-99e6-896c780b37c3_large.webp">
                                </a>

                                <div class="icons">
                                    <button type="button">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>
                                    <button type="button">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </div>

                            </div>
                            <div class="item-detail">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html"
                                   class="item-name">Pochette</a>
                                <div class="item-price">
                                    <span class="new-price">$160.00</span>
                                    <span class="old-price">$185.60</span>
                                </div>
                            
                            </div>

                        </div>




                        <div class="col-4 cart-product">

                            <div class="product-carusel">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html">
                                    <img src="~/assets/image/Shop/5_ec5af67b-ed87-45de-ba67-d2a93126d634_large.webp">
                                </a>

                                <div class="icons">
                                    <button type="button">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>
                                    <button type="button">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </div>

                            </div>
                            <div class="item-detail">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html"
                                   class="item-name">Muff Bag</a>
                                <div class="item-price">
                                    <span class="new-price">$120.00</span>
                                    <span class="old-price">$145.60</span>
                                </div>
                              
                            </div>

                        </div>





                        <div class="col-4 cart-product">

                            <div class="product-carusel">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html">
                                    <img src="~/assets/image/Shop/6_f98801ee-0ade-4f30-ae76-fddd3d82cb30_large.webp">
                                </a>

                                <div class="icons">
                                    <button type="button">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>
                                    <button type="button">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </div>

                            </div>
                            <div class="item-detail">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html"
                                   class="item-name">Straw Bag</a>
                                <div class="item-price">
                                    <span class="new-price">$130.00</span>
                                    <span class="old-price">$145.60</span>
                                </div>
                            
                            </div>

                        </div>




                        <div class="col-4 cart-product">

                            <div class="product-carusel">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html">
                                    <img src="~/assets/image/Shop/7_3b59200a-7528-445e-b124-ece53f9408e9_large.webp">
                                </a>

                                <div class="icons">
                                    <button type="button">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>
                                    <button type="button">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </div>

                            </div>
                            <div class="item-detail">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html"
                                   class="item-name">Satchel Backpack</a>
                                <div class="item-price">
                                    <span class="new-price">$110.00</span>
                                    <span class="old-price">$135.60</span>
                                </div>
                               
                            </div>

                        </div>





                        <div class="col-4 cart-product">

                            <div class="product-carusel">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html">
                                    <img src="~/assets/image/Shop/8_b3acb490-179f-461d-8723-00a5ccda7018_large.webp">
                                </a>

                                <div class="icons">
                                    <button type="button">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>
                                    <button type="button">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </div>

                            </div>
                            <div class="item-detail">
                                <a href="file:///C:/Users/PC/Desktop/end%20pro/Final-Project/End%20Project/productDetail.html"
                                   class="item-name">Wristlet</a>
                                <div class="item-price">
                                    <span class="new-price">$150.00</span>
                                    <span class="old-price">$175.60</span>
                                </div>
                              
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>


</main>

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="~/assets/js/ProductDetail/productDetail.js"></script>

}
